// css class for hiding elements with text in them but keeping the text visible for screen readers
.visuallyHidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  margin: -1px;
  padding: 0;
  clip-path: inset(50%);
  white-space: nowrap;
}

.float-right {
  float: right;
  margin: 0 0 16px 16px;
}

.rounded-edges {
  border-radius: 10px;
}

@media (min-width: 540px) {
  .rounded-edges {
    border-radius: 25px;
  }
}

.no-underline {
  text-decoration: none;
}

.reset {
  all: unset;
}
